p {
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

.logo{
    margin: auto;
    margin-top: 30px;
    display: block;
    height: 50px;
}

label{
    font-weight: bold;
}

#contacto{
    animation: load 0.8s;
    animation-timing-function: ease-out;
}

@keyframes load{
    0%   {right:150px; opacity: 0; }
    100% {right:0px; opacity: 1;}
}
