.bg-body {
    background: white;
}

.bg-card {
    position: relative;
    padding: 20px 40px 10px 20px;
    background: #ffffffad;
    border-radius: 5px;
    box-shadow: 0 0 5px;
    overflow: hidden;
    transition: all 1s;
}

.end {
    content: "";
    position: absolute;
    height: 25%;
    width: 100%;
    top: 30%;
    left: -115%;
    background: #070707;
    z-index: 100;
    transition: all 0.3s;
}

.end-on {
    left: 0%;
}

.end-text {
    font-size: 40px;
    font-weight: 600;
    color: #00c400;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.btn-lose {
    border: 0;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background: rgb(161, 0, 0);
    background-image: url("/riddle_abp/assets/img/replay.png");
    background-size: cover;
    position: absolute;
    top: 70%;
    left: 51.5%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transition: all 0.3s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        -moz-transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        -moz-transform: translate(-50%, -50%) rotate(360deg);
    }
}

.btn-lose:hover {
    animation: rotate 0.2s linear;
    -webkit-animation: rotate 0.2s linear;
    -moz-animation: rotate 0.2s linear;
}

.bg-body::after {
    position: absolute;
    background-image: url(https://images.alphacoders.com/695/thumb-1920-69561.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    content: "";
    opacity: 0.15;
    top: 10%;
    height: 120%;
    width: 100%;
    z-index: -1;
}

.box {
    background-color: #808080;
    position: absolute;
    height: 36.36363636363636px;
    width: 36.36363636363636px;
    border: solid 1px #a5a5a5;
}

.box:hover {
    background-color: #a5a5a5;
}

.flag {
    background-image: url("/riddle_abp/assets/img/flag.png");
    background-size: cover;
}

/* .box:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/riddle_abp/assets/img/flag.png");
    background-size: cover;
} */

.sea {
    position: relative;
    background-size: cover;
    background-image: url("/riddle_abp/assets/img/sea.png");
    height: 400px;
    width: 400px;
}

.block {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.w-35 {
    width: 35% !important
}

.btn-kamikaze {
    position: absolute;
    top: 50%;
    left: 15%;
    height: 50px;
    width: 110px;
    background: url("/riddle_abp/assets/img/kamikaze-btn.jpg");
    background-size: cover;
    background-position: center;
    border: solid 1px red;
    border-radius: 5px;
    transform: translate(0, -50%);
}

.btn-kamikaze-hover:hover {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.6);
}

.btn-kamikaze:active {
    box-shadow: 0 0 0;
}

.kamikaze-alert {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

/* .btn-kamikaze:before {
    content: "";
    padding: 4px;
    position: absolute;
    top: 0;
    left: 22%;
    height: 100%;
    width: 55%;
    background: url("/riddle_abp/assets/img/kamikaze-btn.jpg");
    background-size: cover;
}

*/

.fuego {
    position: absolute;
    height: 36.36363636363636px;
    width: 36.36363636363636px;
    background: url('https://i.imgur.com/XB8X1xa.gif');
    background-size: cover;
}

.agua {
    position: absolute;
    height: 36.36363636363636px;
    width: 36.36363636363636px;
    background: url('https://i.imgur.com/mrAAKhA.gif');
    background-size: cover;
}

.ml-box {
    margin-left: 36.36363636363636px;
}

.kamikaze-cursor {
    cursor: url('https://imgur.com/K5V7u5X.png') 50 50, pointer;
}

.greyscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}