@font-face {
    font-family: 'Letter';
    src: url('/riddle_abp/assets/font/traveling_typewriter/TravelingTypewriter.otf')
}

.bg-body {
    text-align: center;
    background: black;
    color: white;
}

.blood {
    color: red;
    font-size: 30px;
}

.titulo {
    margin: auto;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 6vw;
}

.reaccionesinmediatas {
    margin: auto;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
}

.main {
    position: relative;
    min-height: calc(700px - 12vw);
}

.font-letter {
    font-family: 'Source Serif Pro', serif;
}

.button {
    align-self: flex-end;
    margin: 50px;
}

.about {
    transition: all 1s;
}

.opacity-0 {
    opacity: 0;
}