/*Enigma*/

@font-face{
  font-family: 'Letter';
  src: url('/riddle_abp/assets/font/traveling_typewriter/TravelingTypewriter.otf')
}

.total {
  color: #000;
  font: 14px Arial;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.font-letter{
  font-family: 'Source Serif Pro', serif;
  font-size: 1rem;
  font-weight: bold;
}

.bg-body::after{
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 150%;
  top: 0;
  background-repeat: no-repeat;
  content:"";
  z-index: -1;
  opacity: 0.3;
  background: url('https://i.pinimg.com/originals/df/ba/37/dfba374fec3d957b2485909f9d95427f.jpg');
}

.list-group-item{
  background: transparent;
}

.first{
  margin-top: 30px;
  width: 100%;
}

.first > p{
  text-align : justify;
}

h3 {
  font-size: 28px;
}

h6{
  font-weight: bold;
}

.clearfix:after,
form:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.container {
  position: relative;
  width: 100%;  
}

.next{
  padding-bottom: 30px;
  margin-bottom: 20px;
  display: none;
}

#content {
  background: #f9f9f9;
  background: -moz-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
  background: linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9', GradientType=0);
  -moz-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  border: 1px solid #c4c6ca;
  margin: 0 auto;
  padding: 25px 25px 25px 25px;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 400px;
  z-index: 3;   
  font-family: 'Letter', 'sans-serif';
  text-align: justify;
}

#content:after,
#content:before {
  background: #f9f9f9;
  background: -moz-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%); 
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9', GradientType=0);
  border: 1px solid #c4c6ca;
  content: "";
  display: block;
  height: 100%;
  left: -1px;
  position: absolute;
  width: 100%;
}

#content:after {
  -moz-transform: rotate(2deg);
  transform: rotate(2deg);
  top: 0;
  z-index: -1;
}

#content:before {
  -moz-transform: rotate(-3deg);
  transform: rotate(-3deg);
  top: 0;
  z-index: -2;
}

#content form {
  margin: 0 20px;
  position: relative
}

.btnMapa{
 float: right;
}

.contBtn{
  padding-bottom: 30px;
}

#uno{
  margin-left: 30px;
}
.mapa{
  margin: 20px;
}

.puzzlee{
margin: 20px;
}

.total{
  animation: load 1s;
  animation-timing-function: ease-in-out;
}

@keyframes load{
  0%   {top:100px; opacity: 0; }
  100% {top:0px; opacity: 1;}
}


/*Puzzle*/
#panelJuego{
  padding:5px;
  display:none;
}

#engima1 #panelJuego {
  padding: 10px 0px;
  margin: 10px auto;
  max-width: 430px;
  width:95%;
}

#engima1 #contadorMov div {  
  display:inline-block;
  padding:1px 4px;
  margin: 0px auto;
  max-width:430px;
}

#engima1 #timeBox div {  
  display:inline-block;
  padding:1px 4px;
  margin: 0px auto;
  max-width:430px;
}

/* divpuzzle */
#puzzGame {  
  border:1px solid  #0c0800;
  list-style-type: none;
  display: inline-block;
  margin: 10px;
  padding: 0;
  width: 402px;
}

#engima1 #puzzGame li {
  background-size: 400% 400%;
  border: 1px solid #0c0800;
  cursor: pointer;
  margin: 0;
  padding: 0;
  float: left;
  width: 100px;
  height: 100px;
}

#imgTitle{
  text-align: center;
}

.puzzle{
  display:inline-block;
  margin:auto; 
  width:95%; 
  vertical-align:top;
}


#levelPanel{
  display: none;
}

.animation{
  position: relative;
}
