.box {
    background-color: #808080;
    position: absolute;
    height: 31.818181818181px;
    width: 31.818181818181px;
    border: solid 1px #a5a5a5;
}

.box:hover {
    background-color: #a5a5a5;
}

/* .box:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/riddle_abp/assets/img/flag.png");
    background-size: cover;
} */

.sea {
    position: relative;
    background-size: cover;
    background-image: url("/riddle_abp/assets/img/sea.png");
    height: 350px;
    width: 350px;
}

.block {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.w-35 {
    width: 35% !important
}

.btn-kamikaze {
    position: relative;
    height: 50px;
    width: 80px;
    background: url("/riddle_abp/assets/img/kamikaze-btn.jpg");
    background-size: cover;
    background-position: center;
    border: solid 2px white;
    border-radius: 5px;
}

/* .btn-kamikaze:before {
    content: "";
    padding: 4px;
    position: absolute;
    top: 0;
    left: 22%;
    height: 100%;
    width: 55%;
    background: url("/riddle_abp/assets/img/kamikaze-btn.jpg");
    background-size: cover;
}

*/

.fuego {
    position: absolute;
    height: 31.818181818181px;
    width: 31.818181818181px;
    background: url('https://i.imgur.com/XB8X1xa.gif');
    background-size: cover;
}

.agua {
    position: absolute;
    height: 31.818181818181px;
    width: 31.818181818181px;
    background: url('https://i.imgur.com/mrAAKhA.gif');
    background-size: cover;
}