.title {
    margin: 20px;
}

.game {
    background-image: url('/riddle_abp/assets/img/picGame1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 5px;
    border: solid 1px lightgrey;
}

.lockHover {
    position: absolute;
    height: 100%;
    width: 100%;
    position: absolute;
    color: white;
}

.lockHover:hover {
    position: absolute;
    height: 100%;
    width: 100%;
    position: absolute;
    color: white;
    /* background-color: rgba(99, 99, 99, 0.589); */
    background-image: url('/riddle_abp/assets/img/lock.png');
    background-repeat: no-repeat;
    background-position: center;
}

.gameText {
    font-size: 15px;
    padding: 5px;
    height: 33%;
    width: 100%;
    background-color: #3f3f3f85;
    position: absolute;
    bottom: 0;
    color: white;
}

.lockedImg {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.game:hover>.gameText {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.game:hover .middle {
    opacity: 1;
}

/* .btnStart {
    background-color: rgb(109, 250, 114);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  } */