#navigation li {
    margin-left: 50px;
}

.slide {
    height: 500px;
}

.nav-item {
    color: rgb(255, 255, 255) !important;
    font-size: 18px;
}

.nav-item:hover {
    background-color: rgb(0, 172, 211);
}

.btn {
    font-size: 18px;
}

.btn-login:hover {
    color: #32CBED !important;
}

.bg-main-color {
    background-color: #32CBED;
}

.shadow-effect {
    box-shadow: 0px 0px 10px #202020;
    position: relative;
    z-index: 2;
}