@font-face {
    font-family: 'Japanese';
    src: url('/riddle_abp/assets/font/Japanese-3017/Japanese-3017.otf');
}

#navigation li {
    margin-left: 50px;
}

.shadow-effect {
    box-shadow: 0px 0px 10px black;
}

.nav-item {
    color: rgb(255, 255, 255) !important;
    font-size: 18px;
}

.nav-item:hover {
    background-color: #2c2933;
}

.boton {
    color: white;
    padding: .375rem .75rem;
    font-size: 18px;
}

.boton:hover {
    text-decoration: none;
    color: white;
}

.boton-login {
    border-color: #DA3F62;
    background: #DA3F62;
    transition: all 0.2s;
    padding: .5rem .75rem .375rem .75rem;
}

.boton-login:hover {
    border-color: #DA3F62;
    background: #DA3F62;
    box-shadow: 0px 2px 5px #1F1F1F;
}

.boton-login:active {
    border-color: #DA3F62;
    background: #DA3F62;
    box-shadow: 0px 2px 5px #1F1F1F;
}

.boton-login:focus {
    border-color: #DA3F62;
    background: #DA3F62;
    box-shadow: 0px 2px 5px #1F1F1F;
}

.boton {
    font-weight: 500;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

body,
.white-bg>* {
    background: #eedece;
}

.text-font {
    font-family: 'Open Sans', sans-serif;
}

.title-font {
    font-family: 'Hammersmith One', sans-serif;
}

.japan-font {
    font-family: 'Japanese', sans-serif;
}

.bg-main {
    background: #2abb9a;
}

.bg-second {
    background: #221F2B
}

.bg-body {
    background: #e0f5f0;
}

.list-group-item {
    background: #e0f5f0;
}

.card {
    box-shadow: 1px 1px 5px grey;
    border: unset;
}

.title-corousel {
    font-size: 3vw;
    text-shadow: -3px 0 #ab3030, -3px -3px #ab3030, 0 3px #ab3030, 3px 3px #ab3030, 3px -3px #ab3030, -3px 3px #ab3030, 3px 0 #ab3030, 0 -3px #ab3030;
}

.text-corousel {
    font-size: 1.5vw;
    text-shadow: -2px 0 #ab3030, -2px -2px #ab3030, 0 2px #ab3030, 2px 2px #ab3030, 2px -2px #ab3030, -2px 2px #ab3030, 2px 0 #ab3030, 0 -2px #ab3030;
}

.header {
    background: #221f2b;
    color: white;
    font-size: 40px;
    padding: 15px;
    box-shadow: 0px 0px 10px black;
}