.title {
    margin: auto;
    margin-top: 30px;
    display: block;
    height: 50px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.card-body {
    padding: 1.25rem;
}

body {
    background-color: #32CBED;
}

.center {
    text-align: center;
}

.card {
    margin: 30px auto;
}

.error {
    font-size: 80%;
    color: #dc3545
}