body{
 background-color: #32CBED;
 background: url('/ABP/assets/img/bg-game.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

p{
    text-align: center;
}

.card{
    margin: 30px auto;
    padding: 10px;
    background-color: #E6E6E6;
}
.card-title{
    text-align: center;
}

.centrado{
    margin:50px auto;
	display:block;
}