.title {
    margin: auto;
    display: block;
    height: 50px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.card-body {
    padding: 1.25rem;
}

body {
    background-color: #32CBED;
}

.card {
    margin: 30px auto 80px auto;
}

.error {
    font-size: 80%;
    color: #dc3545
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}