.title {
    margin: auto;
    display: block;
    height: 50px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.card-body {
    padding: 1.25rem;
}

body {
    background: url("/riddle_abp/assets/img/login-bg.jpg");
    background-size: cover
}

.card {
    margin: 30px auto 80px auto;
}

.error {
    font-size: 80%;
    color: #dc3545
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.boton {
    color: white;
    padding: .375rem .75rem;
    font-size: 18px;
}

.boton:hover {
    text-decoration: none;
    color: white;
}

.boton-login {
    border-color: #DA3F62;
    background: #DA3F62;
    transition: all 0.2s;
    padding: .5rem .75rem .375rem .75rem;
}

.boton-login:hover {
    border-color: #DA3F62;
    background: #DA3F62;
    box-shadow: 0px 2px 5px #1F1F1F;
}

.boton-login:active {
    box-shadow: 0px 2px 2px #1F1F1F !important;
    border-color: #af2342 !important;
    background: #af2342 !important;
}

.boton-login:focus {
    border-color: #DA3F62;
    background: #DA3F62;
    box-shadow: 0px 2px 5px #1F1F1F;
}

.boton {
    font-weight: 500;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.text-font {
    font-family: 'Open Sans', sans-serif;
}

.title-font {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 30px;
}

.card {
    box-shadow: 1px 1px 5px #181818;
    border: unset;
}

.form-control:focus {
    border-color: #da3f63a6;
    box-shadow: 0 0 0 0.2rem #da3f624d;
}