body{
    background-color: #32CBED;
}

p{
    text-align: center;
}

.card{
    margin: 50px auto;
    padding: 10px;
    
}

.card-title{
    text-align: center;
}

.fas{
    margin-top: 20px;
    float: left;
}